body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #8fa0d6; /* Background color */
}

.container {
    text-align: center;
    padding: 30px;
    background-color: #ffffff; /* Background color for container */
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
}

/* TODO: Add styles for labels, inputs, buttons, and output text */
h1 {
    font-size: 2.2em;
    margin-bottom: 20px;
    color: #4a4a4a; /* Header color */
}

label{
    font-size: 1em;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

input[type="number"]{
    pad: 5px;
    margin-bottom: 10px;
    width: 100%;
}

input[type="checkbox"] {
    margin-right: 5px;
}

button{
    background-color: rgb(119, 25, 151);
    color: white;
    padding: 10px 15px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

button:hover{
    background-color: rgb(50, 144, 36);
}
/* Add more styles here as needed */
label:hover{
    color: rgb(24, 199, 199);
    font-size: larger;
}
